@font-face {
  font-family: discover;
  src: url(./Womes.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: crimson;
  background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 30px;
}
h1{
  font-family: discover;
  color:#9C1917;
  font-size: 75px;
  font-weight: bold;

}
button{
  margin-top: 75px;
  font-family: discover;
  font-size: 30px;
  padding: 10px 20px;
  color: #757C8C;
  background-color: transparent;
  border:2px solid #757C8C;
  border-radius: 7px;   
 
}
button:hover{
  background-color: #757C8C;
  color: white;
  cursor: pointer;
}