*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
/* #box1{
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  left: 300px;
  top: 120px;
  z-index: 5;                          
  /* z-index besically element ko upar se dikhane ke liye hota hai jab ham positions ka use karte hai tab */
/* }

#box2{
  height: 200px;
  width: 200px;
background-color: blue;
position: absolute;
  left: 200px;
  top: 180px;
  z-index: 7;
}

#box3{
  height: 200px;
  width: 200px;
  background-color: green;
  position: absolute;
  left: 400px;
  top: 200px;
  z-index: 3;
} */ 







/* 
#box1{
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} */




#parent{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-shrink: 0;
  overflow: auto;
}
#child1{
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 3px solid red;
}
#child2{
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border: 3px solid red;
}
#child3{
  height: 200px;
  width: 200px;
  background-color: lightgreen;
border: 3px solid red     ;
flex-shrink: 0;
}
#child4{
  height: 200px;
  width: 200px;
  background-color: tan;
border: 3px solid red     ;

flex-shrink: 0;}
#child5{
  height: 200px;
  width: 200px;
  background-color: rgb(0, 60, 116);
border: 3px solid red     ;
flex-shrink: 0;
}
#child6{
  height: 200px;
  width: 200px;
  background-color: rgb(205, 223, 104);
border: 3px solid red     ;
flex-shrink: 0;
}
#child7{
  height: 200px;
  width: 200px;
  background-color: rgb(197, 50, 140);
border: 3px solid red     ;
flex-shrink: 0;
}

#child8{
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  background-color: rgb(239, 91, 22);
border: 3px solid red     ;
}
#child9{
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  background-color: rgb(139, 13, 39);
border: 3px solid red     ;
}
#child6{
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  background-color: rgb(205, 223, 104);
border: 3px solid red     ;
}
#child10{
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  background-color: rgb(205, 223, 104);
border: 3px solid red     ;
}



