*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color:lightcoral;
  padding: 30px ;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  height: 300px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 10px 20px red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card h2{
  font-weight: 200px;
  font-size: 25px;
}
.card p{
   font-size: 12px;
   font-weight: 300px;
   color: gray;
   text-align: center;
}
.card button{
  border-radius: 30px;
   padding: 10px 30px;
   background-color: royalblue;
   border: none;
   color: white;
   border: 2px solid royalblue;
}

.card button:hover{
  background-color: transparent;
  color: royalblue;
}