@font-face {
  font-family:  helvetica;
  src: url(./Helvetica.ttf);
}
*{
  margin: 0;
  padding: 0;
  font-family: helvetica;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
#main{
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}
nav{
  padding: 30px 70px;
}
#nav a{
  
  margin-right: 30px;
  font-size: 25px;
  color: black;
  text-decoration: none;
}
#main>h1{
  font-size: 200px;
  padding-left: 30px;
  font-weight: 400px;
}
#btmlft{
  width: 300px;
  position: absolute;
  bottom: 20%;
  left: 3%;
}
#btmlft h3{
  font-size: 30px;
}
#btmlft p{
  font-size: 18px;
  margin-top: 5px;
}
#btmlft h4{
  margin-top: 30px; 
font-size:30px ;
}
#btmbaar{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom:0;
  left: 0;
  padding: 30px 50px;
}
#btmbaar a{
  color: black;
  text-decoration: none;
  font-size:35px ;

}
#main>img{
  position: absolute;
}
#main #first{
  height: 300px;
  top: 30%;
  left: 55%;
}
#main #scnd{
  height: 250px;
  top: 40%;
  left: 34%;
}
#main #third{
  height: 250px;
  top: 50%;
  left: 45%;
}