*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns:1fr 200px 1fr;
  grid-template-rows:1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  grid-template-areas: "left-up  top-center top-right"
                       "left-up center bottom-right"
                       "left-bottom left-bottom bottom-right" 
  
  ;
}
#left-up{
  background-color: brown;
  grid-area: left-up;
  border-radius: 10px;
}
#top-center{
  background-color: aqua;
  grid-area:top-center ;
    border-radius: 10px;
}
#top-right{
  background-color: chartreuse;
  grid-area: top-right;
  border-radius: 10px;
}
#center{
  background-color: burlywood;
  grid-area: center;
    border-radius: 10px;
}
#left-bottom{
  background-color: coral;
    grid-area: left-bottom;
      border-radius: 10px;
}

#bottom-right{
  background-color: yellow;
  grid-area: bottom-right;
    border-radius: 10px;
}