*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
/* main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  /* grid-template-columns: 100px minmax(100px ,600px) 100px; */
  /* grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows:  70px  1fr 100px ;
  grid-gap: 10px;
  align-content:center;
  justify-content: space-evenly ;

 
}
.child{
  background-color: crimson;
  border: 3px, solid white;
}
#child1{ */
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; */
   
  /* grid-row: 1/3;
  grid-column: 2/4;

} */



/* ------------------This section includes the learninh about the css properties that is known as grid-template-areas:"header header
                                                                                                                      "aside  section"
                                                                                                                      "footer footer";------------------------- */



/* 
main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 80px;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas: "header header"
                      "aside section"
                      "footer footer"  ;
}
header{
  background-color: red;
  grid-area: header;
}
aside{  
  background-color: aquamarine;
  grid-area: aside;
}
section{
background-color: brown;
grid-area: section;
}
footer{
  background-color: cadetblue;

grid-area: footer;
} */







/* "it includes the project section of the class which i have comlited in my css grid class by making the pages of the websites that inclde the several information" */

/* ------------------EXAMPLE---1  -------------------------------------------------- */

/* main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:70px 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;

  grid-template-areas: "header header header"
                       "section section section"
                       "div1 div2 div3";
}
header{
  background-color: aqua;
 grid-area: header;
}
section{
  background-color: brown;
  grid-area: section;
}
#div1{
  background-color: violet;
  grid-area: div1;
}
#div2{
  background-color:magenta;

 grid-area: div2;}
#div3{
  background-color: burlywood;
 grid-area: div3;
} */








/* ===========================EXAMPLE-2===================================== */





/* main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows:70px 280px 1fr ;
  grid-gap: 10px;
  padding: 7px;

  grid-template-areas: "header header"
                        "aside section"
                        "figure figure"
 ;
}
header{
  background-color: yellow;
  grid-area: header;
}
aside{
  background-color: blueviolet;
  grid-area: aside;
}
section{
  background-color: crimson;
  grid-area: section;
}
figure{
  background-color: lightcoral;
  grid-area: figure;
  }



   */









   /* ========.<<<<<<<<<<<<<<<<....Example-3...>>>>>>>>>>>>>>>.============== */


   main{
    height: 100%;
    width: 100%;
    background-color: black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:50px 1fr 0.5fr 0.5fr;
    gap: 10px;
    padding: 10px;
    grid-template-areas: "header header header"
                          "section section section"
                          "left bottom-up  right"
                          "left bottom-down right"
    ;
    }
   header{
    background-color: aqua;
    grid-area: header;
   }
   section{
    background-color: crimson;
      grid-area: section; 
  }

   #left{
    background-color: chartreuse;
    grid-area: left;
   }
   #right{
    background-color: cadetblue;
    grid-area: right; 
  }
   bottom-up{
    background-color: chocolate;
     grid-area: bottom-up; 
  }
   bottom-down{
    background-color: darkgoldenrod;
  grid-area: bottom-down; 
  }
