*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  perspective: 300px;
}
#box{
  height: 400px;
  width: 400px;
  background-image: url(https://media.istockphoto.com/id/1201399822/photo/photo-of-pretty-curly-long-hairdo-lady-holding-big-paper-heart-demonstrating-creative-idea.jpg?s=2048x2048&w=is&k=20&c=FyYDOkVMIVB2rIDsDI5GFF-2F5eM-SJwDaOXMjjk4iM=);
  background-size: cover;
  background-position: center;
  transform: scale(0.5);
  transform: rotateY( 45deg);
}
